@CHARSET "UTF-8";

#map-canvas-websocket, #map-canvas-webservice {
	height: 400px;
}

.chart-date-picker > label {
	margin-right: 5px;
}

.top10 {
	margin-top: 10px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.infowindow ul li {
	margin-bottom: -3px;
}

div.infowindow h5, div.infowindow ul {
	margin-bottom: 2px;
}
