<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{home.title}">Title</title>

<meta charset="UTF-8" />
<meta name="robots" content="none" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<link rel="shortcut icon" type="image/x-icon" media="all" href="/favicon.ico" th:href="@{/favicon.ico}" />

<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
  href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" media="all" th:href="@{/css/turbine.css}" href="../static/css/turbine.css" />

</head>

<body>
    <div th:replace="fragments/header :: header">The Header</div>

    <div class="container-fluid">
        <noscript class="h4 text-danger">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled.
        Please enable Javascript and reload this page!</noscript>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 h4 text-center" th:text="#{home.websocket-implementation}">
                        Websocket implementation
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="map-canvas-websocket"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 h4 text-center" th:text="#{home.webservice-implementation}">
                        WebService implementation
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="map-canvas-webservice"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 top10">
                <div class="row">
                    <div class="col-md-12 h4" th:text="#{home.options}">
                        Options
                    </div>
                </div>
                <div class="row top10">
                    <div class="col-md-12">
                        <label><input type="checkbox" id="toggleInfowindows" name="toggleInfowindows" />
                        <span th:text="#{home.options.toggle-infowindows}" th:remove="tag">Toggle infowindows</span></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 top10">
                <div class="row">
                    <div class="col-md-12 h4">
                        <span th:text="#{home.chart}" th:remove="tag">Chart</span>: <strong id="compare-turbinename"></strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 small chart-date-picker">
                        <label><input type="radio" name="chart-date" value="current" checked="checked"></input> <span th:text="#{home.chart.current}" th:remove="tag">Current</span></label>
                        <label><input type="radio" name="chart-date" value="yesterday"></input> <span th:text="#{home.chart.yesterday}" th:remove="tag">Yesterday</span></label>
                        <label><input type="radio" name="chart-date" value="last-week"></input> <span th:text="#{home.chart.last-week}" th:remove="tag">Last week</span></label>
                        <label><input type="radio" name="chart-date" value="last-month"></input> <span th:text="#{home.chart.last-month}" th:remove="tag">Last month</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="chart-turbinespeed-canvas" class="pull-left"></div>
                        <div id="chart-windspeed-canvas" class="pull-left"></div>
                        <div id="chart-winddirection-canvas" class="pull-left"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="chart-currentpower-canvas" class="pull-left"></div>
                        <div id="chart-energygenerated-canvas" class="pull-left"></div>
                        <div id="chart-tipspeedratio-canvas" class="pull-left"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 top10">
                <div class="row">
                    <div class="col-md-12 h4" th:text="#{home.compare}">
                        Compare
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row top10">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><strong th:text="#{home.compare.websocket}">Websocket</strong></div>
                            <div class="col-md-4"><strong th:text="#{home.compare.webservice}">Web Service</strong></div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4" th:text="#{home.compare.turbinedate}">Turbine date</div>
                            <div class="col-md-4 small" id="compare-turbinedate-websocket">---</div>
                            <div class="col-md-4 small" id="compare-turbinedate-webservice">---</div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4" th:text="#{home.compare.update}">Update</div>
                            <div class="col-md-4 small" id="compare-update-websocket">---</div>
                            <div class="col-md-4 small" id="compare-update-webservice">---</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8"><hr /></div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" th:text="#{home.compare.connection}">Connection</div>
                            <div class="col-md-4 small">
                                <span th:text="#{home.compare.connection.stomp-count}" th:remove="tag">STOMP count</span> <span id="compare-counter-websocket">0</span>
                            </div>
                            <div class="col-md-4 small">
                                <span th:text="#{home.compare.connection.ajax-count}" th:remove="tag">Ajax count</span> <span id="compare-counter-webservice">0</span>
                            </div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4" th:text="#{home.compare.transferred}">Transferred</div>
                            <div class="col-md-4 small" id="compare-tranferred-websocket">---</div>
                            <div class="col-md-4 small" id="compare-tranferred-webservice">---</div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4" th:text="#{home.compare.bandwidth}">Bandwidth</div>
                            <div class="col-md-4 small" id="compare-bandwidth-websocket">---</div>
                            <div class="col-md-4 small" id="compare-bandwidth-webservice">---</div>
                        </div>
                        <div class="row top10">
                            <div class="col-md-4" th:text="#{home.compare.db}">DB</div>
                            <div class="col-md-4 small">
                                <span id="compare-db-websocket">0</span> <span th:text="#{home.compare.db.queries}" th:remove="tag">Queries</span>
                            </div>
                            <div class="col-md-4 small">
                                <span id="compare-db-webservice">0</span> <span th:text="#{home.compare.db.queries}" th:remove="tag">Queries</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div th:replace="fragments/footer :: footer">The Footer</div>

  <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}" src="http://cdn.jsdelivr.net/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
  <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}" src="http://cdn.jsdelivr.net/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
  <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
  <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script th:src="@{https://maps.googleapis.com/maps/api/js(key=${googleApiKey})}" th:with="googleApiKey=${@environment.getProperty('website.googleapis.api_key')}"
    src="https://maps.googleapis.com/maps/api/js?key=API_KEY"></script>
  <script src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['gauge']}]}"></script>
  <script th:src="@{/js/turbine.js}" src="../static/js/turbine.js"></script>

  <script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/

    var JS = {};
    JS.config = {
        contextPath : /*[[ @{/} ]]*/ 'context path',

        // Ajax calls interval
        ajaxCallInterval : 3700,

        // Google Map options
        map: {
            center : {
                lat : 52.1679023,
                lng : -8.4825989
            },
            zoom : 16,
            mapTypeId : google.maps.MapTypeId.SATELLITE
        },

        bandwidth : {
            maxQueueSize : 10
        },

        turbineToCompare : 'Cork Turbine171',

        chartOptions : {
            turbinespeed : {
                width: 100, height: 100,
                redFrom: 90, redTo: 100,
                yellowFrom: 75, yellowTo: 90,
                minorTicks: 5,
                min: 0, max: 100
            },
            windspeed : {
                width: 100, height: 100,
                redFrom: 45, redTo: 50,
                yellowFrom: 35, yellowTo: 45,
                minorTicks: 5,
                min: 0, max: 50
            },
            winddirection : {
                width: 100, height: 100,
                minorTicks: 5,
                min: -180, max: 180
            },
            currentpower : {
                width: 100, height: 100,
                redFrom: 90, redTo: 100,
                yellowFrom: 75, yellowTo: 90,
                minorTicks: 5,
                min: 0, max: 100
            },
            energygenerated : {
                width: 100, height: 100,
                redFrom: 90, redTo: 100,
                yellowFrom: 75, yellowTo: 90,
                minorTicks: 5,
                min: 0, max: 100
            },
            tipspeedratio : {
                width: 100, height: 100,
                redFrom: 90, redTo: 100,
                yellowFrom: 75, yellowTo: 90,
                minorTicks: 5,
                min: 0, max: 100
            }
        },

        turbineAttr : {
            turbinespeed: /*[[ #{home.turbine.turbinespeed} ]]*/ 'Trubine speed',
            windspeed: /*[[ #{home.turbine.windspeed} ]]*/ 'Wind speed',
            winddirection: /*[[ #{home.turbine.winddirection} ]]*/ 'Wind direction',
            currentpower: /*[[ #{home.turbine.currentpower} ]]*/ 'Current power',
            energygenerated: /*[[ #{home.turbine.energygenerated} ]]*/ 'Energy generated',
            tipspeedratio: /*[[ #{home.turbine.tipspeedratio} ]]*/ 'Tip speed ratio',
            vendorname: /*[[ #{home.turbine.vendorname} ]]*/ 'Vendor name',
            modelsize: /*[[ #{home.turbine.modelsize} ]]*/ 'Model size'
        },

        texts : {
            updateTime : /*[[ #{home.texts.updatetime} ]]*/ 'Update time'
        }
    };

  /*]]>*/
  </script>

</body>

</html>
